plots/
build/
builddir/
simbi/src/libs/
src/libs/
*.egg-info/
data/
manuscripts/
docs/
science
scratch/
movies/
deprecated/
literature/
scripts/
simbi/**/*.md
src/**/*.md
simbi/tools/extras/*
version.py
Doxyfile
.clangd
.vscode/
.cache/
gitrepo_home.txt
!*.gitignore
*.h5
*.pdf
*.png
.*
*.pyc
*.mp4
*.xml
*.csv
*.job
*.so
*.log
*.sh
*.json
*.html
*.svg
target/
*.lock
*.txt
!meson_build_options.txt
!./README.md
!/.githooks/
# Automatically added by dev.py
build*/
__pycache__/
