plots/
pysimbi/__pycache__/
SIMBI_2D_Hydro_Code.egg-info/
build/
# cpu_version/
# hip_version/
lib/src/build_options.hpp 
data/*
tests/
science/
src/state.cpp
test.cpp
ustate
.vscode/
*.h5
*.pdf
*.png
*.eps
*.so
*.deb
*.out
*.pyc
*.mp4