plots/
__pycache__/
build/
builddir/
*.egg-info/
data/
science/
science
movies/
examples/
plots/
.vscode/
version.py
call_obj.cpp
call_obj.h
dual.*
*.h5
*.pdf
*.png
*.pyc
*.mp4
*.xml 
*.csv
*.job
*.txt